// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
// Icon
IDR_MAINFRAME           ICON                    "res\\trainer.ico"
IDI_TRAINER             ICON                    "res\\trainer.ico"

/////////////////////////////////////////////////////////////////////////////
// Dialog
IDD_TRAINER_DIALOG DIALOGEX 0, 0, 360, 368
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Tesseract Trainer"
MENU IDR_TRAINER_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Load Tablemap...",IDC_LOAD_TM,7,7,80,16
    PUSHBUTTON      "Connect (click a window)",IDC_CONNECT,91,7,104,16
    PUSHBUTTON      "Open Sample Gen",IDC_OPEN_TABLE,199,7,154,16
    PUSHBUTTON      "Create Fonts",IDC_CREATE_FONTS,7,28,60,16
    CONTROL         "Ignore bad scrapes",IDC_IGNORE_BAD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,73,32,114,10
    PUSHBUTTON      "Select Model...",IDC_SELECT_MODEL,245,28,108,16

    GROUPBOX        "Image Processing (OCR)",IDC_STATIC,7,50,346,96
    LTEXT           "Transform:",IDC_STATIC,14,65,40,8
    COMBOBOX        IDC_TRANSFORM,58,63,90,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Threshold:",IDC_STATIC,14,85,40,8
    EDITTEXT        IDC_THRESHOLD,58,83,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_THRESHOLD_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,88,83,11,14
    LTEXT           "Mode:",IDC_STATIC,110,85,24,8
    COMBOBOX        IDC_MATCH_MODE,136,83,100,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Spacing px:",IDC_STATIC,205,85,44,8
    EDITTEXT        IDC_CHAR_SPACING,251,83,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CHAR_SPACING_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,281,83,11,14
    CONTROL         "No preprocessing",IDC_NO_PREPROCESS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,127,90,10
    CONTROL         "Disable whitelist",IDC_NO_WHITELIST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,108,127,82,10
    CONTROL         "Use decimal splitting",IDC_USE_DECIMAL_SPLIT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,196,127,110,10

    GROUPBOX        "Scraped Region (OCR input \x96 hover to zoom 4x)",IDC_STATIC,7,150,346,58
    CONTROL         "",IDC_SCRAPE_PREVIEW,"Static",SS_BLACKFRAME,14,162,332,40

    GROUPBOX        "OCR Preview (selected region)",IDC_STATIC,7,212,346,86
    CONTROL         "",IDC_OCR_PREVIEW,"Static",SS_BLACKFRAME,14,226,210,42
    LTEXT           "Decimal trim %:",IDC_STATIC,14,274,58,8
    EDITTEXT        IDC_SPLIT_MARGIN,74,272,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPLIT_MARGIN_SPIN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS,104,272,11,14
    LTEXT           "Split left:",IDC_STATIC,232,222,44,8
    EDITTEXT        IDC_SPLIT_LEFT,232,232,114,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Split right:",IDC_STATIC,232,248,44,8
    EDITTEXT        IDC_SPLIT_RIGHT,232,258,114,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Result:",IDC_STATIC,232,274,44,8
    EDITTEXT        IDC_OCR_RESULT,232,284,114,12,ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "Idle.",IDC_STATUS,7,304,346,36
    PUSHBUTTON      "Generate Username Samples (text2image)...",IDC_GEN_SAMPLES,7,346,200,16
END

/////////////////////////////////////////////////////////////////////////////
// Menu
IDR_TRAINER_MENU MENU
BEGIN
    POPUP "&Tools"
    BEGIN
        MENUITEM "&Settings...",                 ID_TOOLS_SETTINGS
        MENUITEM "&Generate Username Samples...", ID_TOOLS_GEN_SAMPLES
    END
END

/////////////////////////////////////////////////////////////////////////////
// text2image / sample-generation dialogs
IDD_T2I_SETTINGS DIALOGEX 0, 0, 284, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sample Generation Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "text2image.exe:",IDC_STATIC,7,10,80,8
    EDITTEXT        IDC_T2I_PATH,72,8,180,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_T2I_BROWSE,256,8,20,14
    GROUPBOX        "PokerTracker 4 database (player names)",IDC_STATIC,7,30,270,114
    LTEXT           "Host:",IDC_STATIC,16,48,40,8
    EDITTEXT        IDC_T2I_PT_HOST,58,46,120,14,ES_AUTOHSCROLL
    LTEXT           "Port:",IDC_STATIC,188,48,18,8
    EDITTEXT        IDC_T2I_PT_PORT,208,46,46,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "User:",IDC_STATIC,16,70,40,8
    EDITTEXT        IDC_T2I_PT_USER,58,68,120,14,ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,16,92,40,8
    EDITTEXT        IDC_T2I_PT_PASS,58,90,120,14,ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "Database:",IDC_STATIC,16,114,40,8
    EDITTEXT        IDC_T2I_PT_DB,58,112,120,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,166,152,52,16
    PUSHBUTTON      "Cancel",IDCANCEL,224,152,52,16
END

IDD_GEN_COUNT DIALOGEX 0, 0, 186, 78
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Generate Username Samples"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "How many samples to generate?",IDC_STATIC,7,10,172,8
    EDITTEXT        IDC_GEN_COUNT_EDIT,7,24,64,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Generate",IDOK,66,52,52,16
    PUSHBUTTON      "Cancel",IDCANCEL,124,52,52,16
END

IDD_T2I_PROGRESS DIALOGEX 0, 0, 248, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Generating Username Samples"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Starting...",IDC_T2I_PROG_TEXT,10,10,228,8
    CONTROL         "",IDC_T2I_PROG_BAR,"msctls_progress32",PBS_SMOOTH | WS_BORDER,10,26,228,14
    PUSHBUTTON      "Cancel",IDCANCEL,99,52,52,16
END

/////////////////////////////////////////////////////////////////////////////
// Version
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "FileDescription", "Tesseract Trainer"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "trainer.exe"
            VALUE "OriginalFilename", "trainer.exe"
            VALUE "ProductName", "Tesseract Trainer"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

#endif    // English (United States) resources
